In [1]:
import pandas as pd

data = {
    'cars':["BMW","Volvo","Ford"],'passings':[3,4,5]
}
df = pd.DataFrame(data)

print(df)

    cars  passings
0    BMW         3
1  Volvo         4
2   Ford         5

In [2]:
a=[1,2,3]
val=pd.Series(a)
print(val)

0    1
1    2
2    3
dtype: int64

In [3]:
print(df.loc[0])

cars        BMW
passings      3
Name: 0, dtype: object

In [4]:
print(df.loc[[0,1]])

    cars  passings
0    BMW         3
1  Volvo         4

In [5]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [6]:
print(df.loc["day3"])

calories    390
duration     45
Name: day3, dtype: int64

In [7]:
df=pd.read_csv('data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [8]:
print(df['Duration'])

0      60
1      60
2      60
3      45
4      45
       ..
164    60
165    60
166    60
167    75
168    75
Name: Duration, Length: 169, dtype: int64

In [10]:
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [11]:
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [12]:
print(df.head(6))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0

In [15]:
x = df["Calories"].mean()
print(x)

375.79024390243916

In [16]:
#replace the values.
df.loc[2, 'Duration'] = 45

In [17]:
print(df.head(6))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        45    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0

In [18]:
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.154672  0.009275  0.922470
Pulse    -0.154672  1.000000  0.786535  0.025121
Maxpulse  0.009275  0.786535  1.000000  0.203813
Calories  0.922470  0.025121  0.203813  1.000000